BOT_TOKEN=8631957323:AAHfnNHki-RTqcY1BAQeDHxdQOhceLxzhkE
SOLANA_RPC=https://api.mainnet-beta.solana.com
ADMIN_CHAT_IDS=8313858330
COMMISSION_WALLET=HswwkhjcueakMwe6Mzap455MDYnnhHrSHjdFwRWfTAdu
COMMISSION_PERCENTAGE=4%
JUPITER_API=https://lite-api.jup.ag/swap/v1
REDIS_URL=redis://default:yourpassword@your-redis-host:6379
